.width-image {
    width: 20em;
}

.width-logo {
    width: 180px;
}

.card:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.card {
    transition: all 1s ease;
}

html {
    scroll-behavior: smooth;
}

.skill:hover {
    transform: scale(1.2);
    transition: all 1s ease;
}

.skill {
    transition: all 1s ease;
}